<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insi.hd.wsmanager.mapper.SysUserMapper">

    <select id="getSysUserList" resultType="com.insi.hd.wsmanager.entity.SysUser">
        select *
        from sys_user su
        where su.is_deleted = 0
        <if test="userAccount != null and userAccount != ''">
            and su.user_account like #{userAccount}
        </if>
        order by su.create_time desc
    </select>
</mapper>
